* {
  box-sizing: border-box;
}
.container {
  margin-top: 1em;
  width: 100%;
}
.alert {
  padding: 2px 25px 0 0;
  text-align: center;
}
.loader {
  font-size: 18px;
  margin: 20% 60%;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: load4 1.3s infinite linear;
}
@-webkit-keyframes load4 {
  0%, 100% {
    box-shadow: 0em -3em 0em 0.2em #000, 2em -2em 0 0em #000, 3em 0em 0 -0.5em #000, 2em 2em 0 -0.5em #000, 0em 3em 0 -0.5em #000, -2em 2em 0 -0.5em #000, -3em 0em 0 -0.5em #000, -2em -2em 0 0em #000;
  }
  12.5% {
    box-shadow: 0em -3em 0em 0em #000, 2em -2em 0 0.2em #000, 3em 0em 0 0em #000, 2em 2em 0 -0.5em #000, 0em 3em 0 -0.5em #000, -2em 2em 0 -0.5em #000, -3em 0em 0 -0.5em #000, -2em -2em 0 -0.5em #000;
  }
  25% {
    box-shadow: 0em -3em 0em -0.5em #000, 2em -2em 0 0em #000, 3em 0em 0 0.2em #000, 2em 2em 0 0em #000, 0em 3em 0 -0.5em #000, -2em 2em 0 -0.5em #000, -3em 0em 0 -0.5em #000, -2em -2em 0 -0.5em #000;
  }
  37.5% {
    box-shadow: 0em -3em 0em -0.5em #000, 2em -2em 0 -0.5em #000, 3em 0em 0 0em #000, 2em 2em 0 0.2em #000, 0em 3em 0 0em #000, -2em 2em 0 -0.5em #000, -3em 0em 0 -0.5em #000, -2em -2em 0 -0.5em #000;
  }
  50% {
    box-shadow: 0em -3em 0em -0.5em #000, 2em -2em 0 -0.5em #000, 3em 0em 0 -0.5em #000, 2em 2em 0 0em #000, 0em 3em 0 0.2em #000, -2em 2em 0 0em #000, -3em 0em 0 -0.5em #000, -2em -2em 0 -0.5em #000;
  }
  62.5% {
    box-shadow: 0em -3em 0em -0.5em #000, 2em -2em 0 -0.5em #000, 3em 0em 0 -0.5em #000, 2em 2em 0 -0.5em #000, 0em 3em 0 0em #000, -2em 2em 0 0.2em #000, -3em 0em 0 0em #000, -2em -2em 0 -0.5em #000;
  }
  75% {
    box-shadow: 0em -3em 0em -0.5em #000, 2em -2em 0 -0.5em #000, 3em 0em 0 -0.5em #000, 2em 2em 0 -0.5em #000, 0em 3em 0 -0.5em #000, -2em 2em 0 0em #000, -3em 0em 0 0.2em #000, -2em -2em 0 0em #000;
  }
  87.5% {
    box-shadow: 0em -3em 0em 0em #000, 2em -2em 0 -0.5em #000, 3em 0em 0 -0.5em #000, 2em 2em 0 -0.5em #000, 0em 3em 0 -0.5em #000, -2em 2em 0 0em #000, -3em 0em 0 0em #000, -2em -2em 0 0.2em #000;
  }
}
@-moz-keyframes load4 {
  0%, 100% {
    box-shadow: 0em -3em 0em 0.2em #000, 2em -2em 0 0em #000, 3em 0em 0 -0.5em #000, 2em 2em 0 -0.5em #000, 0em 3em 0 -0.5em #000, -2em 2em 0 -0.5em #000, -3em 0em 0 -0.5em #000, -2em -2em 0 0em #000;
  }
  12.5% {
    box-shadow: 0em -3em 0em 0em #000, 2em -2em 0 0.2em #000, 3em 0em 0 0em #000, 2em 2em 0 -0.5em #000, 0em 3em 0 -0.5em #000, -2em 2em 0 -0.5em #000, -3em 0em 0 -0.5em #000, -2em -2em 0 -0.5em #000;
  }
  25% {
    box-shadow: 0em -3em 0em -0.5em #000, 2em -2em 0 0em #000, 3em 0em 0 0.2em #000, 2em 2em 0 0em #000, 0em 3em 0 -0.5em #000, -2em 2em 0 -0.5em #000, -3em 0em 0 -0.5em #000, -2em -2em 0 -0.5em #000;
  }
  37.5% {
    box-shadow: 0em -3em 0em -0.5em #000, 2em -2em 0 -0.5em #000, 3em 0em 0 0em #000, 2em 2em 0 0.2em #000, 0em 3em 0 0em #000, -2em 2em 0 -0.5em #000, -3em 0em 0 -0.5em #000, -2em -2em 0 -0.5em #000;
  }
  50% {
    box-shadow: 0em -3em 0em -0.5em #000, 2em -2em 0 -0.5em #000, 3em 0em 0 -0.5em #000, 2em 2em 0 0em #000, 0em 3em 0 0.2em #000, -2em 2em 0 0em #000, -3em 0em 0 -0.5em #000, -2em -2em 0 -0.5em #000;
  }
  62.5% {
    box-shadow: 0em -3em 0em -0.5em #000, 2em -2em 0 -0.5em #000, 3em 0em 0 -0.5em #000, 2em 2em 0 -0.5em #000, 0em 3em 0 0em #000, -2em 2em 0 0.2em #000, -3em 0em 0 0em #000, -2em -2em 0 -0.5em #000;
  }
  75% {
    box-shadow: 0em -3em 0em -0.5em #000, 2em -2em 0 -0.5em #000, 3em 0em 0 -0.5em #000, 2em 2em 0 -0.5em #000, 0em 3em 0 -0.5em #000, -2em 2em 0 0em #000, -3em 0em 0 0.2em #000, -2em -2em 0 0em #000;
  }
  87.5% {
    box-shadow: 0em -3em 0em 0em #000, 2em -2em 0 -0.5em #000, 3em 0em 0 -0.5em #000, 2em 2em 0 -0.5em #000, 0em 3em 0 -0.5em #000, -2em 2em 0 0em #000, -3em 0em 0 0em #000, -2em -2em 0 0.2em #000;
  }
}
@-webkit-keyframes load4 {
  0%, 100% {
    box-shadow: 0em -3em 0em 0.2em #000, 2em -2em 0 0em #000, 3em 0em 0 -0.5em #000, 2em 2em 0 -0.5em #000, 0em 3em 0 -0.5em #000, -2em 2em 0 -0.5em #000, -3em 0em 0 -0.5em #000, -2em -2em 0 0em #000;
  }
  12.5% {
    box-shadow: 0em -3em 0em 0em #000, 2em -2em 0 0.2em #000, 3em 0em 0 0em #000, 2em 2em 0 -0.5em #000, 0em 3em 0 -0.5em #000, -2em 2em 0 -0.5em #000, -3em 0em 0 -0.5em #000, -2em -2em 0 -0.5em #000;
  }
  25% {
    box-shadow: 0em -3em 0em -0.5em #000, 2em -2em 0 0em #000, 3em 0em 0 0.2em #000, 2em 2em 0 0em #000, 0em 3em 0 -0.5em #000, -2em 2em 0 -0.5em #000, -3em 0em 0 -0.5em #000, -2em -2em 0 -0.5em #000;
  }
  37.5% {
    box-shadow: 0em -3em 0em -0.5em #000, 2em -2em 0 -0.5em #000, 3em 0em 0 0em #000, 2em 2em 0 0.2em #000, 0em 3em 0 0em #000, -2em 2em 0 -0.5em #000, -3em 0em 0 -0.5em #000, -2em -2em 0 -0.5em #000;
  }
  50% {
    box-shadow: 0em -3em 0em -0.5em #000, 2em -2em 0 -0.5em #000, 3em 0em 0 -0.5em #000, 2em 2em 0 0em #000, 0em 3em 0 0.2em #000, -2em 2em 0 0em #000, -3em 0em 0 -0.5em #000, -2em -2em 0 -0.5em #000;
  }
  62.5% {
    box-shadow: 0em -3em 0em -0.5em #000, 2em -2em 0 -0.5em #000, 3em 0em 0 -0.5em #000, 2em 2em 0 -0.5em #000, 0em 3em 0 0em #000, -2em 2em 0 0.2em #000, -3em 0em 0 0em #000, -2em -2em 0 -0.5em #000;
  }
  75% {
    box-shadow: 0em -3em 0em -0.5em #000, 2em -2em 0 -0.5em #000, 3em 0em 0 -0.5em #000, 2em 2em 0 -0.5em #000, 0em 3em 0 -0.5em #000, -2em 2em 0 0em #000, -3em 0em 0 0.2em #000, -2em -2em 0 0em #000;
  }
  87.5% {
    box-shadow: 0em -3em 0em 0em #000, 2em -2em 0 -0.5em #000, 3em 0em 0 -0.5em #000, 2em 2em 0 -0.5em #000, 0em 3em 0 -0.5em #000, -2em 2em 0 0em #000, -3em 0em 0 0em #000, -2em -2em 0 0.2em #000;
  }
}
@-o-keyframes load4 {
  0%, 100% {
    box-shadow: 0em -3em 0em 0.2em #000, 2em -2em 0 0em #000, 3em 0em 0 -0.5em #000, 2em 2em 0 -0.5em #000, 0em 3em 0 -0.5em #000, -2em 2em 0 -0.5em #000, -3em 0em 0 -0.5em #000, -2em -2em 0 0em #000;
  }
  12.5% {
    box-shadow: 0em -3em 0em 0em #000, 2em -2em 0 0.2em #000, 3em 0em 0 0em #000, 2em 2em 0 -0.5em #000, 0em 3em 0 -0.5em #000, -2em 2em 0 -0.5em #000, -3em 0em 0 -0.5em #000, -2em -2em 0 -0.5em #000;
  }
  25% {
    box-shadow: 0em -3em 0em -0.5em #000, 2em -2em 0 0em #000, 3em 0em 0 0.2em #000, 2em 2em 0 0em #000, 0em 3em 0 -0.5em #000, -2em 2em 0 -0.5em #000, -3em 0em 0 -0.5em #000, -2em -2em 0 -0.5em #000;
  }
  37.5% {
    box-shadow: 0em -3em 0em -0.5em #000, 2em -2em 0 -0.5em #000, 3em 0em 0 0em #000, 2em 2em 0 0.2em #000, 0em 3em 0 0em #000, -2em 2em 0 -0.5em #000, -3em 0em 0 -0.5em #000, -2em -2em 0 -0.5em #000;
  }
  50% {
    box-shadow: 0em -3em 0em -0.5em #000, 2em -2em 0 -0.5em #000, 3em 0em 0 -0.5em #000, 2em 2em 0 0em #000, 0em 3em 0 0.2em #000, -2em 2em 0 0em #000, -3em 0em 0 -0.5em #000, -2em -2em 0 -0.5em #000;
  }
  62.5% {
    box-shadow: 0em -3em 0em -0.5em #000, 2em -2em 0 -0.5em #000, 3em 0em 0 -0.5em #000, 2em 2em 0 -0.5em #000, 0em 3em 0 0em #000, -2em 2em 0 0.2em #000, -3em 0em 0 0em #000, -2em -2em 0 -0.5em #000;
  }
  75% {
    box-shadow: 0em -3em 0em -0.5em #000, 2em -2em 0 -0.5em #000, 3em 0em 0 -0.5em #000, 2em 2em 0 -0.5em #000, 0em 3em 0 -0.5em #000, -2em 2em 0 0em #000, -3em 0em 0 0.2em #000, -2em -2em 0 0em #000;
  }
  87.5% {
    box-shadow: 0em -3em 0em 0em #000, 2em -2em 0 -0.5em #000, 3em 0em 0 -0.5em #000, 2em 2em 0 -0.5em #000, 0em 3em 0 -0.5em #000, -2em 2em 0 0em #000, -3em 0em 0 0em #000, -2em -2em 0 0.2em #000;
  }
}
@keyframes load4 {
  0%, 100% {
    box-shadow: 0em -3em 0em 0.2em #000, 2em -2em 0 0em #000, 3em 0em 0 -0.5em #000, 2em 2em 0 -0.5em #000, 0em 3em 0 -0.5em #000, -2em 2em 0 -0.5em #000, -3em 0em 0 -0.5em #000, -2em -2em 0 0em #000;
  }
  12.5% {
    box-shadow: 0em -3em 0em 0em #000, 2em -2em 0 0.2em #000, 3em 0em 0 0em #000, 2em 2em 0 -0.5em #000, 0em 3em 0 -0.5em #000, -2em 2em 0 -0.5em #000, -3em 0em 0 -0.5em #000, -2em -2em 0 -0.5em #000;
  }
  25% {
    box-shadow: 0em -3em 0em -0.5em #000, 2em -2em 0 0em #000, 3em 0em 0 0.2em #000, 2em 2em 0 0em #000, 0em 3em 0 -0.5em #000, -2em 2em 0 -0.5em #000, -3em 0em 0 -0.5em #000, -2em -2em 0 -0.5em #000;
  }
  37.5% {
    box-shadow: 0em -3em 0em -0.5em #000, 2em -2em 0 -0.5em #000, 3em 0em 0 0em #000, 2em 2em 0 0.2em #000, 0em 3em 0 0em #000, -2em 2em 0 -0.5em #000, -3em 0em 0 -0.5em #000, -2em -2em 0 -0.5em #000;
  }
  50% {
    box-shadow: 0em -3em 0em -0.5em #000, 2em -2em 0 -0.5em #000, 3em 0em 0 -0.5em #000, 2em 2em 0 0em #000, 0em 3em 0 0.2em #000, -2em 2em 0 0em #000, -3em 0em 0 -0.5em #000, -2em -2em 0 -0.5em #000;
  }
  62.5% {
    box-shadow: 0em -3em 0em -0.5em #000, 2em -2em 0 -0.5em #000, 3em 0em 0 -0.5em #000, 2em 2em 0 -0.5em #000, 0em 3em 0 0em #000, -2em 2em 0 0.2em #000, -3em 0em 0 0em #000, -2em -2em 0 -0.5em #000;
  }
  75% {
    box-shadow: 0em -3em 0em -0.5em #000, 2em -2em 0 -0.5em #000, 3em 0em 0 -0.5em #000, 2em 2em 0 -0.5em #000, 0em 3em 0 -0.5em #000, -2em 2em 0 0em #000, -3em 0em 0 0.2em #000, -2em -2em 0 0em #000;
  }
  87.5% {
    box-shadow: 0em -3em 0em 0em #000, 2em -2em 0 -0.5em #000, 3em 0em 0 -0.5em #000, 2em 2em 0 -0.5em #000, 0em 3em 0 -0.5em #000, -2em 2em 0 0em #000, -3em 0em 0 0em #000, -2em -2em 0 0.2em #000;
  }
}
